/dotnet/UI/*.resources
/dotnet/monostart/bin
/dotnet/monostart/obj
/dotnet/monostart/monostart.pidb
/dotnet/RhinoCommonMono.userprefs
/dotnet/Debug
/dotnet/Release
/dotnet/bin
/dotnet/obj
/dotnet/RhinoCommon.suo
/dotnet/RhinoCommon.sln
/dotnet/RhinoCommon.pidb
/examples/buildwikisamples/bin
/webhelp.txt
/MethodGen.exe

/c/Debug
/c/English.lproj
/c/curvedisplay.cpp
/c/curvedisplay.h
/c/gh_private_sdk.h
/c/Info.plist
/c/rhcommon_c.xcodeproj
/c/x64