*.userprefs
*.DS_Store
*.swp

/Debug
/Release
/Rhino3dmIo.sdf
/Rhino3dmIo.opensdf
/Rhino3dmIo.suo
/_Resharper.Rhino3dmIo
/ipch
/x64

/dotnet/UI/*.resources
/dotnet/monostart/bin
/dotnet/monostart/obj
/dotnet/monostart/monostart.pidb
/dotnet/RhinoCommonMono.userprefs
/dotnet/RhinoCommonMono*.suo
/dotnet/_Resharper*
/dotnet/Debug
/dotnet/Release
/dotnet/bin
/dotnet/obj
/dotnet/RhinoCommon.suo
/dotnet/RhinoCommon.sln
/dotnet/RhinoCommon.pidb

/examples/*/*.suo
/examples/*/*.user
/examples/*/*.sln
/examples/buildwikisamples/bin
/examples/buildwikisamples/obj
/examples/buildwikisamples/buildwikisamples.sln
/examples/buildwikisamples/buildwikisamples.suo

/examples/cs/bin
/examples/cs/obj
/examples/cs/examples_cs.sln
/examples/vbnet/bin
/examples/vbnet/obj

/webhelp.txt
/MethodGen.exe
/methodgen/bin/Release/MethodGen.exe
/methodgen/bin/Release/MethodGen.exe.config
/methodgen/bin/Release/MethodGen.exe.mdb

/c/Debug
/c/English.lproj
/c/curvedisplay.cpp
/c/curvedisplay.h
/c/gh_private_sdk.h
/c/Info.plist
/c/rhcommon_c.xcodeproj
/c/x64
/c/rh_annotationobject.cpp
/c/rh_app.cpp
/c/rh_appsettings.cpp
/c/rh_bitmap.cpp
/c/rh_command.cpp
/c/rh_dimstyle.cpp
/c/rh_displayattrsmgr.cpp
/c/rh_displayconduit.cpp
/c/rh_displaypipeline.cpp
/c/rh_displaypipelineattributes.cpp
/c/rh_displaypipelinematerial.cpp
/c/rh_doc.cpp
/c/rh_docproperties.cpp
/c/rh_eventwatcher.cpp
/c/rh_font.cpp
/c/rh_get.cpp
/c/rh_getdimlinear.cpp
/c/rh_getfiledialog.cpp
/c/rh_getobject.cpp
/c/rh_getplane.cpp
/c/rh_getpoint.cpp
/c/rh_getstring.cpp
/c/rh_getview.cpp
/c/rh_grips.cpp
/c/rh_group.cpp
/c/rh_hatchpattern.cpp
/c/rh_instance.cpp
/c/rh_layer.cpp
/c/rh_light.cpp
/c/rh_linetype.cpp
/c/rh_material.cpp
/c/rh_meshutilities.cpp
/c/rh_mouse.cpp
/c/rh_object.cpp
/c/rh_objectattributes.cpp
/c/rh_pagelayoutview.cpp
/c/rh_plugin.cpp
/c/rh_pluginmanager.cpp
/c/rh_pointobject.cpp
/c/rh_skindll.cpp
/c/rh_sweep.cpp
/c/rh_textout.cpp
/c/rh_utilities.cpp
/c/rh_view.cpp
/c/rh_viewport.cpp
/c/rhcommon.cpp
/c/rhcommon_c.vcproj
/c/rhcommon_c.vcproj.MCNEEL.a-steve.user
/c/rhcommon_c.vcxproj
/c/rhcommon_c.vcxproj.filters
/c/rhcommon_c.vcxproj.user
/c/rhcommon_c_Prefix.pch
/c/version.plist
/c/opennurbs_memory_new.cpp
/c/rh_annotationobject.cpp
/c/rh_app.cpp
/c/rh_appsettings.cpp
/c/rh_bitmap.cpp
/c/rh_command.cpp
/c/rh_dimstyle.cpp
/c/rh_displayattrsmgr.cpp
/c/rh_displayconduit.cpp
/c/rh_displaypipeline.cpp
/c/rh_displaypipelineattributes.cpp
/c/rh_displaypipelinematerial.cpp
/c/rh_doc.cpp
/c/rh_docproperties.cpp
/c/rh_eventwatcher.cpp
/c/rh_font.cpp
/c/rh_get.cpp
/c/rh_getdimlinear.cpp
/c/rh_getfiledialog.cpp
/c/rh_getobject.cpp
/c/rh_getplane.cpp
/c/rh_getpoint.cpp
/c/rh_getstring.cpp
/c/rh_getview.cpp
/c/rh_grips.cpp
/c/rh_group.cpp
/c/rh_hatchpattern.cpp
/c/rh_instance.cpp
/c/rh_layer.cpp
/c/rh_light.cpp
/c/rh_linetype.cpp
/c/rh_material.cpp
/c/rh_meshutilities.cpp
/c/rh_mouse.cpp
/c/rh_object.cpp
/c/rh_objectattributes.cpp
/c/rh_pagelayoutview.cpp
/c/rh_plugin.cpp
/c/rh_pluginmanager.cpp
/c/rh_pointobject.cpp
/c/rh_skindll.cpp
/c/rh_sweep.cpp
/c/rh_textout.cpp
/c/rh_utilities.cpp
/c/rh_view.cpp
/c/rh_viewport.cpp
/c/rhcommon.cpp
/c/rhcommon_c.vcproj
/c/rhcommon_c.vcproj.MCNEEL.a-steve.user
/c/rhcommon_c.vcxproj
/c/rhcommon_c.vcxproj.filters
/c/rhcommon_c.vcxproj.user
/c/rhcommon_c_Prefix.pch
/c/version.plist
/c/Release
/c/ipch
/c/rh_brepobject.cpp
/c/rh_fair.cpp
/c/rh_offsetcrvonsrf.cpp
/c/rhcommon_opennurbs.sdf
/c/rhcommon_opennurbs.suo
/c/rhcommon_opennurbs.vcxproj.user
/c/rh_extrude.cpp
/c/rh_getrevolve.cpp
/c/rh_meshobject.cpp
/c/tl_functions.cpp
/Help
/c/rh_getxform.cpp
/c/rh_uiprofilecontext.cpp
/dotnet/RhinoCommon.csproj.user
/c/rh_gumball.cpp
/c/rh_pick.cpp
/c/rh_analysismodes.cpp
/c/rh_fileutilities.cpp
/c/glext.h
/c/rh_blend.cpp
/c/rh_printinfo.cpp
/c/opennurbs
/examples/opennurbs_build/cs/example_read/ipch
/examples/opennurbs_build/cs/example_read/obj
/examples/opennurbs_build/cs/example_read/Debug
/examples/opennurbs_build/cs/example_read/Release
/examples/opennurbs_build/cs/example_read/example_read.csproj.user
/examples/opennurbs_build/cs/example_read/example_read.sdf
/examples/opennurbs_build/cs/example_read/example_read.suo
/examples/opennurbs_build/cs/localize_3dm/ipch
/examples/opennurbs_build/cs/localize_3dm/obj
/examples/opennurbs_build/cs/localize_3dm/Debug
/examples/opennurbs_build/cs/localize_3dm/Release
/examples/opennurbs_build/cs/localize_3dm/bin
/examples/opennurbs_build/cs/localize_3dm/example_read.csproj.user
/examples/opennurbs_build/cs/localize_3dm/example_read.sdf
/examples/opennurbs_build/cs/localize_3dm/example_read.suo
/c/rh_uifile.cpp
/examples/rhino3dmio/example_read/bin
/examples/rhino3dmio/example_read/obj
/c/build/
/c/obj/
/c/libs/

nuget/*.nupkg
nuget/_tmp
nuget/nupkg_x86/lib/net40/*.dll
nuget/nupkg_x86/NativeBinaries/x86/*.dll
nuget/nupkg_x64/lib/net40/*.dll
nuget/nupkg_x64/NativeBinaries/x64/*.dll
nuget/nupkg_any/lib/net40/*.dll
nuget/nupkg_any/NativeBinaries/*/*.dll
rh3dmio_native_out

/examples/rhino3dmio/example_read_nuget/bin
/examples/rhino3dmio/example_read_nuget/obj
/examples/rhino3dmio/example_read_nuget/packages
/examples/rhino3dmio/example_read_nuget/packages.config
/examples/rhino3dmio/example_read_nuget/*.suo
/examples/rhino3dmio/example_read_nuget/*.user
/*.suo

