/dotnet/UI/*.resources
/dotnet/RhinoCommonMono.userprefs
/dotnet/Debug
/dotnet/Release
/dotnet/obj
/dotnet/RhinoCommon.suo
/dotnet/RhinoCommon.sln
/dotnet/RhinoCommon.pidb
/examples/buildwikisamples/bin
/webhelp.txt
/MethodGen.exe
